.add-todo{
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  button{
    background-color: $primary;
    margin: 0.5rem 0;
    color: white;
    border-radius: $bdra;

    border: 0;
    line-height: 2;
  }

  input{
    line-height: 2;
  }
}
