.todo {
  display: flex;
  align-items: center;

  .title, .stamp {
    padding-left: $label-pd;
    line-height: 1.6;
  }
  .stamp {
    color: $deep-gray;
  }

  .info {
    padding: 0.3rem 0;
  }
}
